[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"

[packages]
setuptools_scm = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2019fa-csci-utils-yy726"}

[requires]
python_version = "3.7"
